<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="#pigraHome" class="nav-item nav-link active"><span class="fa fa-home"></span> Home</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="far fa-address-card"></span> About</a>
            <a href="#pigraEducation" class="nav-item nav-link"><span class="fas fa-school"></span>Education</a>
            <a href="#pigraExperience" class="nav-item nav-link"><span class="fas fa-laptop"></span>Experience</a>
            <a href="#pigraSkill" class="nav-item nav-link"><span class="fa fa-blog"></span> Skills</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="fab fa-servicestack"></span> Service</a>
            <a href="#pigraPortfolio" class="nav-item nav-link"><span class="fas fa-flask"></span> Portfolio</a>
            <a href="#pigraTestimonial" class="nav-item nav-link"><span class="fas fa-pencil-alt"></span> Testimonial</a>
            <a href="#pigraContact" class="nav-item nav-link"><span class="fas fa-address-book"></span> Contact me</a>
        </div>
    </nav>
</div>
