
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Adding new skill</h2>

<form method="post">
    <label>Skill Title</label>
    <input type="text" name="Title"class="form-control" />
    <br />
    <label>Skill Icon</label>
    <input type="text" name="Ikon"class="form-control" />
    <br />
    <label>Skill Value</label>
    <input type="text" name="Value" class="form-control" />
    <br />
    <button class="btn btn-info">Create Skill</button>
</form>

