@model P1_Portfolio.Models.Skill

@{
    ViewBag.Title = "UpdateSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Skill updating page</h2>

<form method="post">
    @Html.HiddenFor(x => x.skillID, new { @class = "form-control" })

    <label>Title</label>
    @Html.TextBoxFor(x => x.title, new { @class = "form-control" })
    <br />
    <label>Icon</label>
    @Html.TextBoxFor(x => x.icon, new { @class = "form-control" })
    <br />
    <label>Value</label>
    @Html.TextBoxFor(x => x.value, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Update skill</button>
</form>

