
 <nav id="sidebar">
    <div class="p-4 pt-5">

        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(@ViewBag.profileimg);"></a>
        <ul class="list-unstyled components mb-5">

            <li><a href="/About/Index">About me</a></li>
            <li><a href="/Category/CategoryList">Categories</a></li>
            <li><a href="/Education/EducationList">My Education Journey</a></li>
            <li><a href="/Experience/ExperienceList/">My Experiences</a></li>
            <li><a href="/Message/Inbox">Messages</a></li>
            <li><a href="/Profile/Index">My Profile</a></li>
            <li><a href="/Service/ServiceList">My Services</a></li>
            <li><a href="/Skill/SkillList">My Skills</a></li>
            <li><a href="/Testimonial/TestimonialList">Testimonials</a></li>
            <li><a href="/Work/WorkList">My Works</a></li>
            <li><a href="/Statistics/Index">Statistics</a></li>
            <li><a href="/Settings/Index">Settings</a></li>
            <li><a href="/Default/Index">Logout</a></li>
        </ul>

        <!--<div class="footer">
            <p>-->
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <!--Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>-->
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <!--</p>
        </div>-->

    </div>
</nav>
