@model P1_Portfolio.Models.About

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Admin/Index.cshtml";
}



<h2 class="mb-4">Yetenek Guncelleme Sayfasi</h2>

<form method="post">
    @Html.HiddenFor(x => x.aboutID, new { @class = "form-control" })

    <label>Baslik</label>
    @Html.TextBoxFor(x => x.title, new { @class = "form-control" })
    <br />
    <label>Detay</label>
    @Html.TextBoxFor(x => x.detail, new { @class = "form-control" })
    <br />
    <label>Resim yolu</label>
    @Html.TextBoxFor(x => x.imageurl, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Hakkimda Bilgisini Guncelle</button>

</form>