@model List<P1_Portfolio.Models.Category>

@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Admin/Index.cshtml";
}



<h2 class="mb-4">Categories</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Category Name</th>
        <th>Status</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.categoryID</td>
            <td>@item.categoryName</td>
            @if (item.categoryStatus == false)
            {
                <td><a href="/Category/CategoryStatusChangeToTrue/@item.categoryID" class="btn btn-outline-success">Activate</a></td>
            }
            else
            {
                <td><a href="/Category/CategoryStatusChangeToFalse/@item.categoryID" class="btn btn-success">Deactivate</a></td>
            }

            <td><a href="#" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>

