
@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Add new category</h2>

<form method="post">
    <label>Category Name</label>
    <input type="text" name="categoryName" class="form-control" />
    <br />
    <button class="btn btn-info">Add category</button>
</form>
