
@model P1_Portfolio.Models.Experience

@{
    ViewBag.Title = "CreateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Add new experience</h2>

<form method="post">
    <label>Company Name</label>
    @Html.TextBoxFor(x => x.companyName, new { @class = "form-control", @required = "required" })
    <br />
    <label>Work Date</label>
    @Html.TextBoxFor(x => x.workDate, new { @class = "form-control", @required = "required" })
    <br />
    <label>Title</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @required = "required" })
    <br />
    <label>Description</label>
    @Html.TextAreaFor(x => x.Description, 6, 0, new { @class = "form-control", @required="required"})
    <br />
    <button class="btn btn-info">Add experience</button>
</form>

